{% extends 'base.html' %} {% load static %} {% block body %}
<br>
<br>




<link rel="stylesheet"  href="https://cdn.shopify.com/s/files/1/0565/8021/0861/t/462/assets/new-consult-a-vet.css?v=81680323216369168751671541281&enable_css_minification=1">

    <div class="banner-desktop">
      <div class="banner-info">
        <h2 class="title-head">
          80% of a <span>pet’s health</span> issues can be solved online.
        </h2>
        <h3 class="sub-head-text">Get a health check up for your pet</h3>
        <a href="https://supertails.com/products/instant-consult" class="btn-default">Consult Now
          <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="https://www.w3.org/2000/svg">
            <path d="M1 1L11 10L1 19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </a>
      </div>
      <div class="banner-info">
        <img class="img-responsive hs-lazyload hs-id-a1f991c0 lazyloaded" data-src="https://cdn.shopify.com/s/files/1/0565/8021/0861/files/desktop-banner-img-op.png?v=1640779083" src="https://cdn.shopify.com/s/files/1/0565/8021/0861/files/desktop-banner-img-op.png?v=1640779083" loading="lazy">
      </div>
    </div>
  </div>


  {% comment %} Different section {% endcomment %}


{% endblock body %}