{% extends 'base.html' %} {% block body %} 
{% load static %}


{% comment %} <link rel="stylesheet" href="./style.css" />
<link href="./home.css" rel="stylesheet" /> {% endcomment %}

<link rel="stylesheet" href="{% static '/accounts/howItWork_style.css'%}"/>
<link rel="stylesheet" href="{% static '/accounts/howItWork_home.css'%}"/>

  <div>
    <div class="home-container">
      <div class="hero-container section-container">
        <div class="home-video-howItWork">
          <div class="home-content">
            <div class="home-header">
              <h2 class="home-text">
                The ABCs of Pet Care :&nbsp;A Comprehensive Guide for Pet
                Owners
              </h2>
            </div>
            <div class="home-video-howItWork-container">
              <iframe width="853" height="480" src="https://www.youtube.com/embed/peUVLEUj-AM" title="OWNING A DOG | Things to Know Before Getting a Puppy! | Doctor Mike" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              <div class="home-heading-container">
                <div class="home-heading">
                  <span class="home-text01">
                    <span>
                      The Ultimate Resource for New and Experienced Pet Owners
                    </span>
                    <span></span>
                  </span>
                  <span class="home-text04">
                    "The ABCs of Pet Care: A Comprehensive Guide for Pet
                    Owners" is a comprehensive video guide that provides
                    essential tips and advice for pet owners on various
                    aspects of pet care, including nutrition, exercise,
                    grooming, behavior, and health. This video is designed for
                    both new and experienced pet owners and provides a
                    step-by-step guide on how to keep your pet healthy and
                    happy. With expert tips and advice, this video is the
                    ultimate resource for anyone who wants to take the best
                    possible care of their furry friends.
                  </span>
                </div>
                <div class="home-explore">
                  <span class="home-text05">
                    <a href="#pricing">Explore pricing plans -&gt;</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="home-pricing" id="pricing">
        <div class="home-content2">
          <div class="home-header2">
            <div class="home-tag">
              <span class="home-text08">Pricing plans</span>
            </div>
            <div class="home-heading01">
              <h2 class="home-text09">No setup cost or hidden fees.</h2>
            </div>
          </div>
          <div class="home-pricing-plans">
            <div class="home-plans">
              <div class="home-plan">
                <div class="home-top">
                  <div class="home-heading02">
                    <span class="home-text10">Standard</span>
                    <span class="home-text11">
                      Sed ut perspiciatis unde omnis iste natus error sit.
                    </span>
                  </div>
                  <div class="home-cost">
                    <span class="home-text12">Free</span>
                  </div>
                </div>
                <div class="home-bottom">
                  <div class="home-check-list">
                    <div class="check-check">
                      <svg viewBox="0 0 1024 1024" class="check-icon">
                        <path
                          d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                        ></path>
                      </svg>
                      <span class="check-text">
                        <span>Sed ut perspiciatis unde</span>
                      </span>
                    </div>
                    <div class="check-check">
                      <svg viewBox="0 0 1024 1024" class="check-icon">
                        <path
                          d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                        ></path>
                      </svg>
                      <span class="check-text">
                        <span>Quis nostrud exercitation ulla</span>
                      </span>
                    </div>
                    <div class="check-check">
                      <svg viewBox="0 0 1024 1024" class="check-icon">
                        <path
                          d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                        ></path>
                      </svg>
                      <span class="check-text">
                        <span>Duis aute irure dolor intuit</span>
                      </span>
                    </div>
                    <div class="check-check">
                      <svg viewBox="0 0 1024 1024" class="check-icon">
                        <path
                          d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                        ></path>
                      </svg>
                      <span class="check-text">
                        <span>Voluptas sit aspernatur aut odit</span>
                      </span>
                    </div>
                    <div class="check-check">
                      <svg viewBox="0 0 1024 1024" class="check-icon">
                        <path
                          d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                        ></path>
                      </svg>
                      <span class="check-text">
                        <span>Corporis suscipit laboriosam</span>
                      </span>
                    </div>
                  </div>
                  <div class="home-button">
                    <span class="home-text13">Get Standard</span>
                  </div>
                </div>
              </div>
              <div class="home-plan1">
                <div class="home-top1">
                  <div class="home-heading03">
                    <span class="home-text14">Plus</span>
                    <span class="home-text15">
                      Sed ut perspiciatis unde omnis iste natus error sit.
                    </span>
                  </div>
                  <div class="home-cost1">
                    <span class="home-text16">$8</span>
                    <span class="home-text17">/month</span>
                  </div>
                </div>
                <div class="home-bottom1">
                  <div class="home-check-list1">
                    <div class="check-check">
                      <svg viewBox="0 0 1024 1024" class="check-icon">
                        <path
                          d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                        ></path>
                      </svg>
                      <span class="check-text">
                        <span>Sed ut perspiciatis unde</span>
                      </span>
                    </div>
                    <div class="check-check">
                      <svg viewBox="0 0 1024 1024" class="check-icon">
                        <path
                          d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                        ></path>
                      </svg>
                      <span class="check-text">
                        <span>Quis nostrud exercitation ulla</span>
                      </span>
                    </div>
                    <div class="check-check">
                      <svg viewBox="0 0 1024 1024" class="check-icon">
                        <path
                          d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                        ></path>
                      </svg>
                      <span class="check-text">
                        <span>Duis aute irure dolor intuit</span>
                      </span>
                    </div>
                    <div class="check-check">
                      <svg viewBox="0 0 1024 1024" class="check-icon">
                        <path
                          d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                        ></path>
                      </svg>
                      <span class="check-text">
                        <span>Voluptas sit aspernatur aut odit</span>
                      </span>
                    </div>
                    <div class="check-check">
                      <svg viewBox="0 0 1024 1024" class="check-icon">
                        <path
                          d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                        ></path>
                      </svg>
                      <span class="check-text">
                        <span>Corporis suscipit laboriosam</span>
                      </span>
                    </div>
                  </div>
                  <div class="home-button1">
                    <span class="home-text18">Get Standard</span>
                  </div>
                </div>
              </div>
              <div class="home-plan2">
                <div class="home-top2">
                  <div class="home-heading04">
                    <span class="home-text19">Premium</span>
                    <span class="home-text20">
                      Sed ut perspiciatis unde omnis iste natus error sit.
                    </span>
                  </div>
                  <div class="home-cost2">
                    <span class="home-text21">$16</span>
                    <span class="home-text22">/month</span>
                  </div>
                </div>
                <div class="home-bottom2">
                  <div class="home-check-list2">
                    <div class="check-check">
                      <svg viewBox="0 0 1024 1024" class="check-icon">
                        <path
                          d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                        ></path>
                      </svg>
                      <span class="check-text">
                        <span>Sed ut perspiciatis unde</span>
                      </span>
                    </div>
                    <div class="check-check">
                      <svg viewBox="0 0 1024 1024" class="check-icon">
                        <path
                          d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                        ></path>
                      </svg>
                      <span class="check-text">
                        <span>Quis nostrud exercitation ulla</span>
                      </span>
                    </div>
                    <div class="check-check">
                      <svg viewBox="0 0 1024 1024" class="check-icon">
                        <path
                          d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                        ></path>
                      </svg>
                      <span class="check-text">
                        <span>Duis aute irure dolor intuit</span>
                      </span>
                    </div>
                    <div class="check-check">
                      <svg viewBox="0 0 1024 1024" class="check-icon">
                        <path
                          d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                        ></path>
                      </svg>
                      <span class="check-text">
                        <span>Voluptas sit aspernatur aut odit</span>
                      </span>
                    </div>
                    <div class="check-check">
                      <svg viewBox="0 0 1024 1024" class="check-icon">
                        <path
                          d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                        ></path>
                      </svg>
                      <span class="check-text">
                        <span>Corporis suscipit laboriosam</span>
                      </span>
                    </div>
                  </div>
                  <div class="home-button2">
                    <span class="home-text23">Get Standard</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="home-expand">
              <div class="home-overlay">
                <div class="home-header3">
                  <div class="home-heading05">
                    <span class="home-text24">Expand</span>
                    <span class="home-text25">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt.
                    </span>
                  </div>
                  <div class="home-check-list3">
                    <div class="home-check">
                      <svg viewBox="0 0 1024 1024" class="home-icon">
                        <path
                          d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                        ></path>
                      </svg>
                      <span class="home-text26">
                        Sed ut perspiciatis unde
                      </span>
                    </div>
                    <div class="home-check1">
                      <svg viewBox="0 0 1024 1024" class="home-icon02">
                        <path
                          d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                        ></path>
                      </svg>
                      <span class="home-text27">
                        Quis nostrud exercitation ulla
                      </span>
                    </div>
                    <div class="home-check2">
                      <svg viewBox="0 0 1024 1024" class="home-icon04">
                        <path
                          d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                        ></path>
                      </svg>
                      <span class="home-text28">
                        Duis aute irure dolor intuit
                      </span>
                    </div>
                  </div>
                </div>
                <div class="home-button3">
                  <span class="home-text29">
                    <span>Contact us</span>
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="home-plans1">
            <div class="home-plan3">
              <div class="home-top3">
                <div class="home-heading06">
                  <span class="home-text32">Standard</span>
                  <span class="home-text33">
                    Sed ut perspiciatis unde omnis iste natus error sit.
                  </span>
                </div>
                <div class="home-cost3">
                  <span class="home-text34">Free</span>
                </div>
              </div>
              <div class="home-bottom3">
                <div class="home-check-list4">
                  <div class="check-check">
                    <svg viewBox="0 0 1024 1024" class="check-icon">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="check-text">
                      <span>Sed ut perspiciatis unde</span>
                    </span>
                  </div>
                  <div class="check-check">
                    <svg viewBox="0 0 1024 1024" class="check-icon">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="check-text">
                      <span>Quis nostrud exercitation ulla</span>
                    </span>
                  </div>
                  <div class="check-check">
                    <svg viewBox="0 0 1024 1024" class="check-icon">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="check-text">
                      <span>Duis aute irure dolor intuit</span>
                    </span>
                  </div>
                  <div class="check-check">
                    <svg viewBox="0 0 1024 1024" class="check-icon">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="check-text">
                      <span>Voluptas sit aspernatur aut odit</span>
                    </span>
                  </div>
                  <div class="check-check">
                    <svg viewBox="0 0 1024 1024" class="check-icon">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="check-text">
                      <span>Corporis suscipit laboriosam</span>
                    </span>
                  </div>
                </div>
                <div class="home-button4">
                  <span class="home-text35">Get Standard</span>
                </div>
              </div>
            </div>
            <div class="home-plan4">
              <div class="home-top4">
                <div class="home-heading07">
                  <span class="home-text36">Plus</span>
                  <span class="home-text37">
                    Sed ut perspiciatis unde omnis iste natus error sit.
                  </span>
                </div>
                <div class="home-cost4">
                  <span class="home-text38">$8</span>
                  <span class="home-text39">/month</span>
                </div>
              </div>
              <div class="home-bottom4">
                <div class="home-check-list5">
                  <div class="check-check">
                    <svg viewBox="0 0 1024 1024" class="check-icon">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="check-text">
                      <span>Sed ut perspiciatis unde</span>
                    </span>
                  </div>
                  <div class="check-check">
                    <svg viewBox="0 0 1024 1024" class="check-icon">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="check-text">
                      <span>Quis nostrud exercitation ulla</span>
                    </span>
                  </div>
                  <div class="check-check">
                    <svg viewBox="0 0 1024 1024" class="check-icon">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="check-text">
                      <span>Duis aute irure dolor intuit</span>
                    </span>
                  </div>
                  <div class="check-check">
                    <svg viewBox="0 0 1024 1024" class="check-icon">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="check-text">
                      <span>Voluptas sit aspernatur aut odit</span>
                    </span>
                  </div>
                  <div class="check-check">
                    <svg viewBox="0 0 1024 1024" class="check-icon">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="check-text">
                      <span>Corporis suscipit laboriosam</span>
                    </span>
                  </div>
                </div>
                <div class="home-button5">
                  <span class="home-text40">Get Plus</span>
                </div>
              </div>
            </div>
            <div class="home-plan5">
              <div class="home-top5">
                <div class="home-heading08">
                  <span class="home-text41">Premium</span>
                  <span class="home-text42">
                    Sed ut perspiciatis unde omnis iste natus error sit.
                  </span>
                </div>
                <div class="home-cost5">
                  <span class="home-text43">$16</span>
                  <span class="home-text44">/month</span>
                </div>
              </div>
              <div class="home-bottom5">
                <div class="home-check-list6">
                  <div class="check-check">
                    <svg viewBox="0 0 1024 1024" class="check-icon">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="check-text">
                      <span>Sed ut perspiciatis unde</span>
                    </span>
                  </div>
                  <div class="check-check">
                    <svg viewBox="0 0 1024 1024" class="check-icon">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="check-text">
                      <span>Quis nostrud exercitation ulla</span>
                    </span>
                  </div>
                  <div class="check-check">
                    <svg viewBox="0 0 1024 1024" class="check-icon">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="check-text">
                      <span>Duis aute irure dolor intuit</span>
                    </span>
                  </div>
                  <div class="check-check">
                    <svg viewBox="0 0 1024 1024" class="check-icon">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="check-text">
                      <span>Voluptas sit aspernatur aut odit</span>
                    </span>
                  </div>
                  <div class="check-check">
                    <svg viewBox="0 0 1024 1024" class="check-icon">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="check-text">
                      <span>Corporis suscipit laboriosam</span>
                    </span>
                  </div>
                </div>
                <div class="home-button6">
                  <span class="home-text45">Get Plus</span>
                </div>
              </div>
            </div>
            <div class="home-expand1">
              <div class="home-overlay1">
                <div class="home-header4">
                  <div class="home-heading09">
                    <span class="home-text46">Expand</span>
                    <span class="home-text47">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt.
                    </span>
                  </div>
                  <div class="home-check-list7">
                    <div class="home-check3">
                      <svg viewBox="0 0 1024 1024" class="home-icon06">
                        <path
                          d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                        ></path>
                      </svg>
                      <span class="home-text48">
                        Sed ut perspiciatis unde
                      </span>
                    </div>
                    <div class="home-check4">
                      <svg viewBox="0 0 1024 1024" class="home-icon08">
                        <path
                          d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                        ></path>
                      </svg>
                      <span class="home-text49">
                        Quis nostrud exercitation ulla
                      </span>
                    </div>
                    <div class="home-check5">
                      <svg viewBox="0 0 1024 1024" class="home-icon10">
                        <path
                          d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                        ></path>
                      </svg>
                      <span class="home-text50">
                        Duis aute irure dolor intuit
                      </span>
                    </div>
                  </div>
                </div>
                <div class="home-button7">
                  <span class="home-text51">
                    <span>Contact us</span>
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="home-help">
          <span class="home-text54">Need any help?</span>
          <div class="home-explore1">
            <span class="home-text55">
              Get in touch with us right away -&gt;
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    window.onload = () => {
      const runAllScripts = () => {
        initializeAllAccordions()
      }

      const listenForUrlChanges = () => {
        let url = location.href
        document.body.addEventListener(
          'click',
          () => {
            requestAnimationFrame(() => {
              if (url !== location.href) {
                runAllScripts()
                url = location.href
              }
            })
          },
          true
        )
      }

      const initializeAllAccordions = () => {
        const allAccordions = document.querySelectorAll('[data-role="Accordion"]');

        allAccordions.forEach((accordion) => {
          const accordionHeader = accordion.querySelector('[data-type="accordion-header"]')
          const accordionContent = accordion.querySelector('[data-type="accordion-content"]')

          accordionHeader.addEventListener('click', () => {
            if (accordionContent.style.maxHeight) {
              accordionContent.style.maxHeight = ''
            } else {
              accordionContent.style.maxHeight = `${accordionContent.scrollHeight}px`
            }
          })
        })
      }

      listenForUrlChanges()
      runAllScripts()
    }
  </script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>



{% endblock body %}
