{% extends 'base.html' %} {% block body %} {% load static %}

<div>
  <div class="home-container">
    <div class="hero-container section-container">
      <div class="home-max-width01 max-width">
        <div class="home-content">
          <h1 class="home-title">
            <span>Revolutionizing Pet Care:&nbsp;</span>
            <span class="home-text008">Connect with Expert Online</span>
          </h1>
          <span class="home-description">
            Experience hassle-free pet care with our online consultations. Get
            high-quality care for your pet without leaving your home, thanks to
            our state-of-the-art technology and user-friendly platform. Say
            hello to the convenience and ease of telemedicine for pets and
            simplify your pet's healthcare journey.
          </span>
          <div class="home-container01">
            <button class="button button-gradient">Get started</button>
            <button class="button button-transparent">Log in</button>
          </div>
        </div>
        <div class="home-image">
          <img
            alt="image"
            src="https://images.unsplash.com/photo-1596693485991-9faf110d432f?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDJ8fHBldCUyMGRvY3RvcnxlbnwwfHx8fDE2NzYzNzQ5MTM&amp;ixlib=rb-4.0.3&amp;w=600"
            class="home-hero-image"
          />
          <img
            alt="image"
            src="{% static '/accounts/union-400w.png'%}"
            class="home-graphic-top"
          />
          <img
            alt="image"
            src="{% static '/accounts/group%2018-1200w.png'%}"
            class="home-image1"
          />
        </div>
      </div>
    </div>

    {% comment %} ----------------------------------- {% endcomment %}
    {% comment %} <link
      rel="stylesheet"
      href="https://www.mixo.io/site/pet-care-qiq4s/assets/style.8e63440b.css"
    /> {% endcomment %}
    <link rel="stylesheet" href="{% static '/accounts/extraStyle.css'%}"/>


    <div>
      <div
        class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-6 xl:gap-12 2xl:gap-24"
      >
        <div
          class="lg:col-start-2 max-w-xl px-4 mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 space-y-6"
        >
          <!-- Feature -->
          <div>
            <h2 class="text-4xl font-extrabold tracking-tight text-gray-900">
              24/7 video calls<span class="text-primary">.</span>
            </h2>
            <p class="mt-4 text-lg leading-relaxed text-gray-500 sm:text-xl">
              With PetCare's video call feature, you can instantly connect with
              a certified pet care expert and receive real-time advice.
            </p>
          </div>
          <!-- CTA -->
          <div></div>
          <!-- Review -->
        </div>
        <!-- Image -->
        <div class="lg:col-start-1 mt-12 sm:mt-16 lg:mt-0">
          <div
            class="pr-4 -sm:ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full lg:flex lg:items-center"
          >
            <img
              class="lg:right-0 w-full lg:absolute lg:w-auto lg:max-w-xl xl:max-w-2xl 2xl:max-w-3xl rounded"
              src="https://stories.freepiklabs.com/storage/17181/Pets-with-halloween-costumes-(1)_Mesa-de-trabajo-1.svg"
              alt="24/7 video calls"
            />
          </div>
        </div>
      </div>
    </div>

    <div>
      <div
        class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-6 xl:gap-12 2xl:gap-24"
      >
        <div
          class="max-w-xl px-4 mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 space-y-6"
        >
          <!-- Feature -->
          <div>
            <h2 class="text-4xl font-extrabold tracking-tight text-gray-900">
              Comprehensive pet care<span class="text-primary">.</span>
            </h2>
            <p class="mt-4 text-lg leading-relaxed text-gray-500 sm:text-xl">
              Our team of experts provides comprehensive pet care services, from
              preventive care to medical advice.
            </p>
          </div>
          <!-- CTA -->
          <div></div>
          <!-- Review -->
        </div>
        <!-- Image -->
        <div class="mt-12 sm:mt-16 lg:mt-0">
          <div
            class="pl-4 sm:-mr-48 sm:-mr-6 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full lg:flex lg:items-center"
          >
            <img
              class="lg:left-0 w-full lg:absolute lg:w-auto lg:max-w-xl xl:max-w-2xl 2xl:max-w-3xl rounded"
              src="https://stories.freepiklabs.com/storage/57452/Cat-and-dog_Mesa-de-trabajo-1.svg"
              alt="Comprehensive pet care"
            />
          </div>
        </div>
      </div>
    </div>

    {% comment %} ----------------------------------- {% endcomment %}
    <div class="home-section1 section-container">
      <div class="home-max-width03 max-width">
        <div class="home-content2">
          <span class="home-text018 beforeHeading">save money</span>
          <h1 class="home-text019">
            <span class="home-text020">Earn cashback</span>
            <br />
            <span>on Vet Bills and Pet Supplies with Petzocare</span>
          </h1>
          <span class="home-text023">
            Get rewarded for every purchase and veterinary consultation, and
            save money while taking care of your furry friend with Petzocare's
            cashback program.
          </span>
          <div class="home-container03">
            <button class="button-secondary button bg-transparent">
              See how
            </button>
          </div>
        </div>
        <div class="home-image3">
          <img
            alt="image"
            src="https://images.unsplash.com/photo-1583337130417-3346a1be7dee?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE1fHxwZXQlMjBjYXJlfGVufDB8fHx8MTY3NjkwMTgxNg&amp;ixlib=rb-4.0.3&amp;w=1200"
            class="home-hero-image2"
          />
        </div>
      </div>
    </div>
    <div class="home-section2 section-container">
      <div class="home-max-width04 max-width">
        <div class="home-image4">
          <img
            alt="image"
            src="https://images.unsplash.com/photo-1622253692010-333f2da6031d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE0fHxkb2N0b3J8ZW58MHx8fHwxNjc2NjIzNDYx&amp;ixlib=rb-4.0.3&amp;w=1200"
            class="home-hero-image3"
          />
        </div>
        <div class="home-content3">
          <span class="home-text024 beforeHeading">get started</span>
          <h1 class="home-text025">
            Start Your Virtual Pet Care Journey Today
          </h1>
          <div class="home-step">
            <div class="home-number">
              <span class="home-text026">1</span>
            </div>
            <div class="home-container04">
              <span class="home-title1">
                Create an account on our website by providing your basic
                information.
              </span>
            </div>
          </div>
          <div class="home-step1">
            <div class="home-number1">
              <span class="home-text027">2</span>
            </div>
            <div class="home-container05">
              <span class="home-title2">
                Select a time that works best for you to schedule a virtual
                appointment with a certified veterinarian.
              </span>
            </div>
          </div>
          <div class="home-step2">
            <div class="home-number2">
              <span class="home-text028">3</span>
            </div>
            <div class="home-container06">
              <span class="home-title3">
                Connect with your vet at the designated appointment time via
                video call using our user-friendly platform and get the care and
                advice you need for your pet.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-container">
      <div class="home-max-width05 max-width">
        <span class="home-text029 beforeHeading">get started</span>
        <h1 class="home-text030">Connect with Expert Vets and Save Money</h1>
        <div class="home-cards-container">
          <div class="card-card card-root-class-name">
            <div class="card-info">
              <span class="card-text"><span>Dr. Name</span></span>
              <span class="card-text1">
                <span>
                  Amet minim mollit non deserunt ullamco est sit aliqua dolor
                  do.
                </span>
              </span>
            </div>
          </div>
          <div class="card-card card-root-class-name2">
            <div class="card-info">
              <span class="card-text"><span>Personal</span></span>
              <span class="card-text1">
                <span>
                  Amet minim mollit non deserunt ullamco est sit aliqua dolor
                  do.
                </span>
              </span>
            </div>
          </div>
          <div class="card-card card-root-class-name1">
            <div class="card-info">
              <span class="card-text"><span>Family</span></span>
              <span class="card-text1">
                <span>
                  Amet minim mollit non deserunt ullamco est sit aliqua dolor
                  do.
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-section4 section-container">
      <div class="home-max-width06 max-width">
        <div class="home-f-a-q">
          <div class="home-questions">
            <span class="home-text031 beforeHeading">faq</span>
            <h1 class="home-text032">
              <span class="home-text033">Frequently Asked</span>
              <br />
              <span class="home-text035">Questions</span>
            </h1>
            <div data-role="Accordion" class="question">
              <div data-type="accordion-header" class="home-trigger">
                <span class="home-text036">
                  How do I book an appointment for a virtual pet care
                  consultation?
                </span>
                <svg viewBox="0 0 1024 1024" class="home-icon04">
                  <path
                    d="M810 554h-256v256h-84v-256h-256v-84h256v-256h84v256h256v84z"
                  ></path>
                </svg>
              </div>
              <div data-type="accordion-content" class="question-content">
                <span class="home-text037">
                  <p>
                    To book an appointment for a virtual pet care consultation,
                    please follow these steps:
                  </p>
                  <ol>
                    <li>
                      Go to our website and navigate to the "Virtual Vet Visits"
                      section.
                    </li>
                    <li>Click on the "Book an Appointment" button.</li>
                    <li>
                      Select the type of consultation you need (e.g. routine
                      checkup, behavior consultation, etc.).
                    </li>
                    <li>Choose a date and time that works for you.</li>
                    <li>
                      Fill out the appointment request form with your pet's
                      information and any specific concerns you have.
                    </li>
                    <li>
                      Submit the form, and we'll get back to you as soon as
                      possible to confirm your appointment.
                    </li>
                  </ol>
                </span>
              </div>
            </div>
            <div data-role="Accordion" class="question">
              <div data-type="accordion-header" class="home-trigger1">
                <span class="home-text038">
                  What types of pet health concerns can be addressed during a
                  virtual consultation?
                </span>
                <svg viewBox="0 0 1024 1024" class="home-icon06">
                  <path
                    d="M810 554h-256v256h-84v-256h-256v-84h256v-256h84v256h256v84z"
                  ></path>
                </svg>
              </div>
              <div data-type="accordion-content" class="question-content">
                <span class="home-text039">
                  <ol>
                    <li>
                      Routine checkups and preventive care: Regular virtual
                      consultations can help ensure your pet is in good health
                      and catch any potential health issues early on.
                    </li>
                    <li>
                      Behavioral issues: Our veterinarians can provide guidance
                      and advice on common behavioral issues such as anxiety,
                      aggression, and house training.
                    </li>
                    <li>
                      Skin and coat issues: Virtual consultations can help
                      address skin and coat issues such as itching, hair loss,
                      and hot spots.
                    </li>
                    <li>
                      Digestive issues: Our veterinarians can help diagnose and
                      treat digestive issues such as vomiting, diarrhea, and
                      constipation.
                    </li>
                    <li>
                      Respiratory issues: Virtual consultations can help address
                      respiratory issues such as coughing, sneezing, and
                      breathing difficulties.
                    </li>
                    <li>
                      Joint and mobility issues: Our veterinarians can provide
                      guidance and advice on managing joint pain and mobility
                      issues, as well as prescribe medication if necessary.
                    </li>
                  </ol>
                </span>
              </div>
            </div>
            <div data-role="Accordion" class="question">
              <div data-type="accordion-header" class="home-trigger2">
                <span class="home-text040">
                  What happens if my pet requires in-person treatment or tests?
                </span>
                <svg viewBox="0 0 1024 1024" class="home-icon08">
                  <path
                    d="M810 554h-256v256h-84v-256h-256v-84h256v-256h84v256h256v84z"
                  ></path>
                </svg>
              </div>
              <div data-type="accordion-content" class="question-content">
                <span class="home-text041">
                  If your pet requires in-person treatment or tests, our
                  veterinarians may recommend that you bring your pet to a
                  physical clinic for an examination and diagnostic tests. In
                  some cases, virtual consultations may not provide enough
                  information to diagnose or treat your pet's health condition.
                  Our team will work with you to determine the best course of
                  action for your pet's health and well-being.
                </span>
              </div>
            </div>
            <div data-role="Accordion" class="question">
              <div data-type="accordion-header" class="home-trigger3">
                <span class="home-text042">
                  How do I pay for the virtual pet care consultation and what
                  are the fees?
                </span>
                <svg viewBox="0 0 1024 1024" class="home-icon10">
                  <path
                    d="M810 554h-256v256h-84v-256h-256v-84h256v-256h84v256h256v84z"
                  ></path>
                </svg>
              </div>
              <div data-type="accordion-content" class="question-content">
                <span class="home-text043">
                  We accept payment for virtual pet care consultations through
                  our secure online payment system. Our fees for virtual
                  consultations may vary depending on the type of consultation
                  and the length of the session. Please check our website for
                  the latest information on our fees and payment options. We
                  also offer discounted rates for bundled consultation packages
                  and subscription plans. Please contact us for more
                  information.
                </span>
              </div>
            </div>
          </div>
          <img
            alt="image"
            src="{% static '/accounts/group%202-1200w.png'%}"
            class="home-image5"
          />
        </div>
        <div class="home-banner">
          <span class="home-text044 beforeHeading">get started</span>
          <h1 class="home-text045">
            <span>Join our community of fans that </span>
            <br />
            <span>love Petzocare</span>
          </h1>
          <span class="home-text049">
            <span>
              Experience advanced and modern pet care through Petzocare's
              virtual consultations,
            </span>
            <br />
            <span>designed to elevate your pet's health and wellness.</span>
            <span></span>
          </span>
          <div class="home-btns">
            <button class="home-button6 button button-transparent">
              See all plans
            </button>
            <button class="home-button7 button button-gradient">
              Get started
            </button>
          </div>
          <ile-root id="ile-3" data-v-app="" hydrated=""
            ><form
              class="grid gap-2 grid-cols-1 sm:w-full sm:flex sm:items-center sm:flex-wrap mt-6 sm:mt-12 sm:mx-auto sm:max-w-lg"
            >
              <label for="cta-email" class="sr-only">Email address</label
              ><input
                id="cta-email"
                type="email"
                class="block w-full px-5 py-3 text-base text-gray-900 placeholder-gray-500 border border-gray-300 rounded-md shadow-sm focus:border-primary focus:ring-primary focus-visible:ring-primary flex-1"
                required=""
                placeholder="Enter your email..."
              />
              <div>
                <button
                  to=""
                  class="ui-button ui-button-base ui-button-primary"
                  type="submit"
                >
                  Join the waiting list
                </button>
              </div>
            </form></ile-root
          >
        </div>
      </div>

      {% comment %} Add here div {% endcomment %}
    </div>
  </div>
</div>
<script>
  window.onload = () => {
    const runAllScripts = () => {
      initializeAllAccordions();
    };

    const listenForUrlChanges = () => {
      let url = location.href;
      document.body.addEventListener(
        "click",
        () => {
          requestAnimationFrame(() => {
            if (url !== location.href) {
              runAllScripts();
              url = location.href;
            }
          });
        },
        true
      );
    };

    const initializeAllAccordions = () => {
      const allAccordions = document.querySelectorAll(
        '[data-role="Accordion"]'
      );

      allAccordions.forEach((accordion) => {
        const accordionHeader = accordion.querySelector(
          '[data-type="accordion-header"]'
        );
        const accordionContent = accordion.querySelector(
          '[data-type="accordion-content"]'
        );

        accordionHeader.addEventListener("click", () => {
          if (accordionContent.style.maxHeight) {
            accordionContent.style.maxHeight = "";
          } else {
            accordionContent.style.maxHeight = `${accordionContent.scrollHeight}px`;
          }
        });
      });
    };

    listenForUrlChanges();
    runAllScripts();
  };
</script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

{% endblock body %}
