{% extends 'base.html' %} {% load static %} {% block body %}

<div class="home-hero1 section-container1">
    <div class="home-max-width07 max-content-container">
      <div class="home-content-container">
        <h1 class="home-text054 Heading1">
          <span>expert pet health advice from our&nbsp;</span>
          <span class="home-text056">veterinary team</span>
          <span></span>
        </h1>
        <span class="home-text058">
          Limited-Time Offer: Sign Up for Our Virtual Pet Care Plan and
          Get Your First Month Free
        </span>
        <div class="home-btns-container">
          <button class="home-primary button-primary1 button-lg button">
            register now
          </button>
          <button class="button button-outline button-lg-border">
            learn more
          </button>
        </div>
      </div>
      <div class="home-video-container">
        <video
          src=""
          muted="true"
          poster="https://images.unsplash.com/photo-1553550102-590bc483f15c?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDh8fHBldCUyMGRvY3RvcnxlbnwwfHx8fDE2NzYzNzQ5MTM&amp;ixlib=rb-4.0.3&amp;w=1200"
          autoplay="true"
          controls="true"
          class="home-video"
        ></video>
      </div>
    </div>
    <div class="home-blue-background"></div>
  </div>

  <div class="home-speakers section-container1">
    <div class="home-max-width08 max-content-container">
      <div class="home-heading-container">
        <span class="home-text059">
          Expert Pet Care Specialists from Around the Globe
        </span>
        <h1 class="home-text060 Heading2">
          <span>meet our Doctors</span>
          <span></span>
        </h1>
      </div>
      <div class="home-speakers-container">
        <div class="speaker-card-speaker-card">
          <div class="speaker-card-image-container">
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEwfHxwZW9wbGV8ZW58MHx8fHwxNjQzNzA1NTEx&amp;ixlib=rb-1.2.1&amp;w=300"
              class="speaker-card-image"
            />
            <div class="speaker-card-read-more-container">
              <span class="speaker-card-hint">read more</span>
              <svg viewBox="0 0 1024 1024" class="speaker-card-icon">
                <path
                  d="M621.254 877.254l320-320c24.994-24.992 24.994-65.516 0-90.51l-320-320c-24.994-24.992-65.516-24.992-90.51 0-24.994 24.994-24.994 65.516 0 90.51l210.746 210.746h-613.49c-35.346 0-64 28.654-64 64s28.654 64 64 64h613.49l-210.746 210.746c-12.496 12.496-18.744 28.876-18.744 45.254s6.248 32.758 18.744 45.254c24.994 24.994 65.516 24.994 90.51 0z"
                ></path>
              </svg>
            </div>
          </div>
          <span class="speaker-card-first-name">
            <span>Jonathan</span>
          </span>
          <span class="speaker-card-last-name"><span>carey</span></span>
          <span class="speaker-card-text">
            <span>brand manager @ pepsi</span>
          </span>
        </div>
        <div class="speaker-card-speaker-card">
          <div class="speaker-card-image-container">
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHBlb3BsZXxlbnwwfHx8fDE2NDM3MDU1MTE&amp;ixlib=rb-1.2.1&amp;h=300"
              class="speaker-card-image"
            />
            <div class="speaker-card-read-more-container">
              <span class="speaker-card-hint">read more</span>
              <svg viewBox="0 0 1024 1024" class="speaker-card-icon">
                <path
                  d="M621.254 877.254l320-320c24.994-24.992 24.994-65.516 0-90.51l-320-320c-24.994-24.992-65.516-24.992-90.51 0-24.994 24.994-24.994 65.516 0 90.51l210.746 210.746h-613.49c-35.346 0-64 28.654-64 64s28.654 64 64 64h613.49l-210.746 210.746c-12.496 12.496-18.744 28.876-18.744 45.254s6.248 32.758 18.744 45.254c24.994 24.994 65.516 24.994 90.51 0z"
                ></path>
              </svg>
            </div>
          </div>
          <span class="speaker-card-first-name">
            <span>Mellisa</span>
          </span>
          <span class="speaker-card-last-name">
            <span>Simpson</span>
          </span>
          <span class="speaker-card-text">
            <span>digital marketing associate @ WPP</span>
          </span>
        </div>
        <div class="speaker-card-speaker-card">
          <div class="speaker-card-image-container">
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDZ8fHBlb3BsZXxlbnwwfHx8fDE2NDM3MDU1MTE&amp;ixlib=rb-1.2.1&amp;h=300"
              class="speaker-card-image"
            />
            <div class="speaker-card-read-more-container">
              <span class="speaker-card-hint">read more</span>
              <svg viewBox="0 0 1024 1024" class="speaker-card-icon">
                <path
                  d="M621.254 877.254l320-320c24.994-24.992 24.994-65.516 0-90.51l-320-320c-24.994-24.992-65.516-24.992-90.51 0-24.994 24.994-24.994 65.516 0 90.51l210.746 210.746h-613.49c-35.346 0-64 28.654-64 64s28.654 64 64 64h613.49l-210.746 210.746c-12.496 12.496-18.744 28.876-18.744 45.254s6.248 32.758 18.744 45.254c24.994 24.994 65.516 24.994 90.51 0z"
                ></path>
              </svg>
            </div>
          </div>
          <span class="speaker-card-first-name">
            <span>alina</span>
          </span>
          <span class="speaker-card-last-name">
            <span>tevlenko</span>
          </span>
          <span class="speaker-card-text">
            <span>VP OF Marketing @ BUZZFEED</span>
          </span>
        </div>
        <div class="speaker-card-speaker-card">
          <div class="speaker-card-image-container">
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1537511446984-935f663eb1f4?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI5fHxwZW9wbGV8ZW58MHx8fHwxNjQzNzA1NTEx&amp;ixlib=rb-1.2.1&amp;h=300"
              class="speaker-card-image"
            />
            <div class="speaker-card-read-more-container">
              <span class="speaker-card-hint">read more</span>
              <svg viewBox="0 0 1024 1024" class="speaker-card-icon">
                <path
                  d="M621.254 877.254l320-320c24.994-24.992 24.994-65.516 0-90.51l-320-320c-24.994-24.992-65.516-24.992-90.51 0-24.994 24.994-24.994 65.516 0 90.51l210.746 210.746h-613.49c-35.346 0-64 28.654-64 64s28.654 64 64 64h613.49l-210.746 210.746c-12.496 12.496-18.744 28.876-18.744 45.254s6.248 32.758 18.744 45.254c24.994 24.994 65.516 24.994 90.51 0z"
                ></path>
              </svg>
            </div>
          </div>
          <span class="speaker-card-first-name">
            <span>gregor</span>
          </span>
          <span class="speaker-card-last-name">
            <span>iprovich</span>
          </span>
          <span class="speaker-card-text">
            <span>HEAD OF DIGITAL @ HUBSPOT</span>
          </span>
        </div>
        <div class="speaker-card-speaker-card">
          <div class="speaker-card-image-container">
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDExfHxwZW9wbGV8ZW58MHx8fHwxNjQzNzA1NTEx&amp;ixlib=rb-1.2.1&amp;h=300"
              class="speaker-card-image"
            />
            <div class="speaker-card-read-more-container">
              <span class="speaker-card-hint">read more</span>
              <svg viewBox="0 0 1024 1024" class="speaker-card-icon">
                <path
                  d="M621.254 877.254l320-320c24.994-24.992 24.994-65.516 0-90.51l-320-320c-24.994-24.992-65.516-24.992-90.51 0-24.994 24.994-24.994 65.516 0 90.51l210.746 210.746h-613.49c-35.346 0-64 28.654-64 64s28.654 64 64 64h613.49l-210.746 210.746c-12.496 12.496-18.744 28.876-18.744 45.254s6.248 32.758 18.744 45.254c24.994 24.994 65.516 24.994 90.51 0z"
                ></path>
              </svg>
            </div>
          </div>
          <span class="speaker-card-first-name">
            <span>damian</span>
          </span>
          <span class="speaker-card-last-name"><span>daris</span></span>
          <span class="speaker-card-text">
            <span>marketing officer @ salesforce</span>
          </span>
        </div>
        <div class="speaker-card-speaker-card">
          <div class="speaker-card-image-container">
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1531384441138-2736e62e0919?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE0N3x8cGVvcGxlfGVufDB8fHx8MTY0MzcwODY5MQ&amp;ixlib=rb-1.2.1&amp;h=300"
              class="speaker-card-image"
            />
            <div class="speaker-card-read-more-container">
              <span class="speaker-card-hint">read more</span>
              <svg viewBox="0 0 1024 1024" class="speaker-card-icon">
                <path
                  d="M621.254 877.254l320-320c24.994-24.992 24.994-65.516 0-90.51l-320-320c-24.994-24.992-65.516-24.992-90.51 0-24.994 24.994-24.994 65.516 0 90.51l210.746 210.746h-613.49c-35.346 0-64 28.654-64 64s28.654 64 64 64h613.49l-210.746 210.746c-12.496 12.496-18.744 28.876-18.744 45.254s6.248 32.758 18.744 45.254c24.994 24.994 65.516 24.994 90.51 0z"
                ></path>
              </svg>
            </div>
          </div>
          <span class="speaker-card-first-name"><span>matt</span></span>
          <span class="speaker-card-last-name">
            <span>warren</span>
          </span>
          <span class="speaker-card-text">
            <span>social media manager @ vodafone</span>
          </span>
        </div>
        <div class="speaker-card-speaker-card">
          <div class="speaker-card-image-container">
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1589156280159-27698a70f29e?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE2OHx8cGVvcGxlfGVufDB8fHx8MTY0MzcwODY5MQ&amp;ixlib=rb-1.2.1&amp;h=300"
              class="speaker-card-image"
            />
            <div class="speaker-card-read-more-container">
              <span class="speaker-card-hint">read more</span>
              <svg viewBox="0 0 1024 1024" class="speaker-card-icon">
                <path
                  d="M621.254 877.254l320-320c24.994-24.992 24.994-65.516 0-90.51l-320-320c-24.994-24.992-65.516-24.992-90.51 0-24.994 24.994-24.994 65.516 0 90.51l210.746 210.746h-613.49c-35.346 0-64 28.654-64 64s28.654 64 64 64h613.49l-210.746 210.746c-12.496 12.496-18.744 28.876-18.744 45.254s6.248 32.758 18.744 45.254c24.994 24.994 65.516 24.994 90.51 0z"
                ></path>
              </svg>
            </div>
          </div>
          <span class="speaker-card-first-name">
            <span>kathie</span>
          </span>
          <span class="speaker-card-last-name"><span>moore</span></span>
          <span class="speaker-card-text">
            <span>creative director @ BBDO</span>
          </span>
        </div>
        <div class="speaker-card-speaker-card">
          <div class="speaker-card-image-container">
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1558222218-b7b54eede3f3?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEwNHx8cGVvcGxlfGVufDB8fHx8MTY0MzcwODY4MQ&amp;ixlib=rb-1.2.1&amp;h=300"
              class="speaker-card-image"
            />
            <div class="speaker-card-read-more-container">
              <span class="speaker-card-hint">read more</span>
              <svg viewBox="0 0 1024 1024" class="speaker-card-icon">
                <path
                  d="M621.254 877.254l320-320c24.994-24.992 24.994-65.516 0-90.51l-320-320c-24.994-24.992-65.516-24.992-90.51 0-24.994 24.994-24.994 65.516 0 90.51l210.746 210.746h-613.49c-35.346 0-64 28.654-64 64s28.654 64 64 64h613.49l-210.746 210.746c-12.496 12.496-18.744 28.876-18.744 45.254s6.248 32.758 18.744 45.254c24.994 24.994 65.516 24.994 90.51 0z"
                ></path>
              </svg>
            </div>
          </div>
          <span class="speaker-card-first-name">
            <span>erick</span>
          </span>
          <span class="speaker-card-last-name"><span>chan</span></span>
          <span class="speaker-card-text">
            <span>CMO @ youtube Europe</span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="home-numbers-banner section-container1">
    <div class="home-container07 max-content-container">
      <div class="home-heading-container1">
        <span class="home-text063">Petzocare in Numbers</span>
        <h1 class="home-text064">
          A Look at Our Impact on Pet Health and Wellness
        </h1>
      </div>
      <div class="home-numbers-container">
        <div class="numbers-card-numbers-card">
          <img
            alt="image"
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            class="numbers-card-image"
          />
          <span class="numbers-card-number"><span>2,148</span></span>
          <span class="numbers-card-text"><span>sessions</span></span>
        </div>
        <div class="numbers-card-numbers-card">
          <img
            alt="image"
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            class="numbers-card-image"
          />
          <span class="numbers-card-number"><span>12</span></span>
          <span class="numbers-card-text"><span>years</span></span>
        </div>
        <div class="numbers-card-numbers-card">
          <img
            alt="image"
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            class="numbers-card-image"
          />
          <span class="numbers-card-number"><span>64</span></span>
          <span class="numbers-card-text">
            <span>total events</span>
          </span>
        </div>
        <div class="numbers-card-numbers-card">
          <img
            alt="image"
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            class="numbers-card-image"
          />
          <span class="numbers-card-number"><span>15,070</span></span>
          <span class="numbers-card-text"><span>companies</span></span>
        </div>
        <div class="numbers-card-numbers-card">
          <img
            alt="image"
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            class="numbers-card-image"
          />
          <span class="numbers-card-number"><span>14</span></span>
          <span class="numbers-card-text"><span>cities</span></span>
        </div>
        <div class="numbers-card-numbers-card">
          <img
            alt="image"
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            class="numbers-card-image"
          />
          <span class="numbers-card-number"><span>1,071</span></span>
          <span class="numbers-card-text"><span>speakers</span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="home-location">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1559190394-df5a28aab5c5?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDUzfHxwZXQlMjBoZWFsdGh8ZW58MHx8fHwxNjc2Mzc4OTc2&amp;ixlib=rb-4.0.3&amp;w=1500"
      class="home-image6"
    />
    <div class="home-content-container1 section-container1">
      <span class="home-text065">
        Carry a Pet Care Expert with You Wherever You Go
      </span>
      <div class="home-container08">
        <div class="home-container09"></div>
        <div class="home-container10">
          <span class="home-text066">WHY IT WORKS</span>
          <span class="home-text067">
            Petzocare is changing the game in pet care with its 360°
            continuous health monitoring system, providing real-time
            insights into pet health for improved long-term outcomes.
            With a focus on whole pet health, pet owners can carry a pet
            care expert with them wherever they go, providing peace of
            mind and expert advice at their fingertips.
          </span>
          <div class="home-btns-container1">
            <button class="button-secondary1 button button-md">
              register
            </button>
            <button
              class="home-learn-more button button-outline button-md-border"
            >
              learn more
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="home-agenda section-container1">
    <div class="home-max-width09 max-content-container">
      <div class="home-heading-container2">
        <h1 class="home-text068">
          The Ultimate Resource for Pet Lovers
        </h1>
        <span class="home-text069">Petzocare Blog</span>
      </div>
      <div class="home-events-container">
        <div class="home-column">
          <div class="home-column-header">
            <span class="home-text070">Health and Wellness</span>
            <div class="home-line"></div>
          </div>
          <div class="event-card-event-card">
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEwfHxwZW9wbGV8ZW58MHx8fHwxNjQzNzA1NTEx&amp;ixlib=rb-1.2.1&amp;w=200"
              class="event-card-image"
            />
            <div class="event-card-vertical-line"></div>
            <div class="event-card-container">
              <span class="event-card-title">
                <span>Inbound Marketing Secrets</span>
              </span>
              <span class="event-card-text">
                <span>
                  Amet minim mollit non deserunt ullamco est sit aliqua
                  dolor do amet sint. Velit officia consequat duis enim
                  velit mollit. Exercitation veniam consequat sunt
                  nostrud amet.
                </span>
              </span>
            </div>
          </div>
          <div class="event-card-event-card">
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHBlb3BsZXxlbnwwfHx8fDE2NDM3MDU1MTE&amp;ixlib=rb-1.2.1&amp;h=300"
              class="event-card-image"
            />
            <div class="event-card-vertical-line"></div>
            <div class="event-card-container">
              <span class="event-card-title">
                <span>Inbound Marketing Secrets</span>
              </span>
              <span class="event-card-text">
                <span>
                  Amet minim mollit non deserunt ullamco est sit aliqua
                  dolor do amet sint. Velit officia consequat duis enim
                  velit mollit. Exercitation veniam consequat sunt
                  nostrud amet.
                </span>
              </span>
            </div>
          </div>
          <div class="event-card-event-card">
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDZ8fHBlb3BsZXxlbnwwfHx8fDE2NDM3MDU1MTE&amp;ixlib=rb-1.2.1&amp;h=300"
              class="event-card-image"
            />
            <div class="event-card-vertical-line"></div>
            <div class="event-card-container">
              <span class="event-card-title">
                <span>Inbound Marketing Secrets</span>
              </span>
              <span class="event-card-text">
                <span>
                  Amet minim mollit non deserunt ullamco est sit aliqua
                  dolor do amet sint. Velit officia consequat duis enim
                  velit mollit. Exercitation veniam consequat sunt
                  nostrud amet.
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="home-column1">
          <div class="home-column-header1">
            <span class="home-text071">Pet Stories</span>
            <div class="home-line1"></div>
          </div>
          <div class="event-card-event-card">
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDExfHxwZW9wbGV8ZW58MHx8fHwxNjQzNzA1NTEx&amp;ixlib=rb-1.2.1&amp;h=300"
              class="event-card-image"
            />
            <div class="event-card-vertical-line"></div>
            <div class="event-card-container">
              <span class="event-card-title">
                <span>Inbound Marketing Secrets</span>
              </span>
              <span class="event-card-text">
                <span>
                  Amet minim mollit non deserunt ullamco est sit aliqua
                  dolor do amet sint. Velit officia consequat duis enim
                  velit mollit. Exercitation veniam consequat sunt
                  nostrud amet.
                </span>
              </span>
            </div>
          </div>
          <div class="event-card-event-card">
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1531384441138-2736e62e0919?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE0N3x8cGVvcGxlfGVufDB8fHx8MTY0MzcwODY5MQ&amp;ixlib=rb-1.2.1&amp;h=300"
              class="event-card-image"
            />
            <div class="event-card-vertical-line"></div>
            <div class="event-card-container">
              <span class="event-card-title">
                <span>Inbound Marketing Secrets</span>
              </span>
              <span class="event-card-text">
                <span>
                  Amet minim mollit non deserunt ullamco est sit aliqua
                  dolor do amet sint. Velit officia consequat duis enim
                  velit mollit. Exercitation veniam consequat sunt
                  nostrud amet.
                </span>
              </span>
            </div>
          </div>
          <div class="event-card-event-card">
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1589156280159-27698a70f29e?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE2OHx8cGVvcGxlfGVufDB8fHx8MTY0MzcwODY5MQ&amp;ixlib=rb-1.2.1&amp;h=300"
              class="event-card-image"
            />
            <div class="event-card-vertical-line"></div>
            <div class="event-card-container">
              <span class="event-card-title">
                <span>Inbound Marketing Secrets</span>
              </span>
              <span class="event-card-text">
                <span>
                  Amet minim mollit non deserunt ullamco est sit aliqua
                  dolor do amet sint. Velit officia consequat duis enim
                  velit mollit. Exercitation veniam consequat sunt
                  nostrud amet.
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="home-workshops">
    <div class="home-content-container2">
      <div class="home-container11">
        <h1 class="home-text072 Heading2">
          <span>revamp your pet care skills with petzocare's</span>
          <br />
          <span class="home-text075">Informative Workshops</span>
          <br />
          <span>
            <span></span>
            <span></span>
          </span>
        </h1>
        <span class="home-text080">
          Register Now and Enjoy Early Bird&nbsp; Discounts on
          Petzocare's memberships
        </span>
        <span class="home-text081">
          Join the Petzocare Community and Save with Early Bird
          Membership Discounts
        </span>
        <button class="button button-md button-outline">
          learn more
        </button>
      </div>
    </div>
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1592194996308-7b43878e84a6?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDJ8fHBldHxlbnwwfHx8fDE2NzY4ODM3NDI&amp;ixlib=rb-4.0.3&amp;w=1500"
      class="home-image7"
    />
  </div>
  {% endblock body %}

