{% extends 'base.html' %} {% load static %}


{%block body%}



    <!-- Blog Start -->
    <link href="{% static '/blog/css/homePageBlogStyle.css'%}" rel="stylesheet">

    <div class="container pt-5">
      <div style = "padding-top: 50px" class="d-flex flex-column text-center mb-5">
          {% comment %} <h4 class="text-secondary mb-3">Pet Blog</h4> {% endcomment %}
          <h1 class="display-4 m-0"><span class="text-primary">Updates</span> From Blog</h1>
      </div>
      <div class="row pb-3">
        {% if blog %}
    {% for detail in blog %}
          <div class="col-lg-4 mb-4">
              <div class="card border-0 mb-2">
                  <img class="card-img-top" src="/static/media/{{detail.thumbnail}}" alt="">
                  <div class="card-body bg-light p-4">
                      <h4 class="card-title text-truncate">{{ detail.title }}</h4>
                      <div class="d-flex mb-3">
                          <small class="mr-2"><i class="fa fa-user text-muted"></i> {{ detail.author }}</small>
                          <small class="mr-2"><i class="fa fa-clock text-muted"></i> {{ detail.publishDate }}</small>
                          {% comment %} <small class="mr-2"><i class="fa fa-comments text-muted"></i> 15</small> {% endcomment %}
                      </div>
                      <p>{{ detail.shortSummary }}</p>
                      <a class="font-weight-bold" href="blogpost/{{ detail.postId }}">Read More</a>
                  </div>
              </div>
          </div>
          {% endfor %}
          {% else %}
        <h3>No Data</h3>
        {% endif %}
      </div>
  </div>
  <!-- Blog End -->


{%endblock%}